In [11]:
import pandas as pd
import numpy as np
import os
from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns


from scipy.stats import (
                         shapiro,
                         levene,
                         mannwhitneyu,
                         ttest_ind,
                         chi2_contingency,
                         fisher_exact)

pd.set_option('display.max_columns', None)

In [2]:
data_path = Path('../../Artifacts/Attrition.csv').resolve() 
df = pd.read_csv(data_path)

In [3]:
df.sample(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1047,33,No,Travel_Frequently,430,Sales,7,3,Medical,1,1477,4,Male,54,3,2,Sales Executive,1,Married,4373,17456,0,Y,No,14,3,1,80,2,5,2,3,4,3,0,3
1048,34,No,Travel_Rarely,1326,Sales,3,3,Other,1,1478,4,Male,81,1,2,Sales Executive,1,Single,4759,15891,3,Y,No,18,3,4,80,0,15,2,3,13,9,3,12
1214,44,No,Travel_Rarely,921,Research & Development,2,3,Life Sciences,1,1703,3,Female,96,4,3,Healthcare Representative,4,Married,7879,14810,1,Y,Yes,19,3,2,80,1,9,2,3,8,7,6,7
1338,30,Yes,Travel_Rarely,945,Sales,9,3,Medical,1,1876,2,Male,89,3,1,Sales Representative,4,Single,1081,16019,1,Y,No,13,3,3,80,0,1,3,2,1,0,0,0
200,27,No,Travel_Frequently,472,Research & Development,1,1,Technical Degree,1,274,3,Male,60,2,2,Manufacturing Director,1,Married,4298,9679,5,Y,No,19,3,3,80,1,6,1,3,2,2,2,0

In [4]:
df.shape

(1470, 35)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [6]:
df.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [7]:
df.select_dtypes(exclude='object').describe().T

,count,mean,std,min,25%,50%,75%,max
Age,1470.0,36.923810,9.135373,18.0,30.00,36.0,43.00,60.0
DailyRate,1470.0,802.485714,403.509100,102.0,465.00,802.0,1157.00,1499.0
DistanceFromHome,1470.0,9.192517,8.106864,1.0,2.00,7.0,14.00,29.0
Education,1470.0,2.912925,1.024165,1.0,2.00,3.0,4.00,5.0
EmployeeCount,1470.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0
EmployeeNumber,1470.0,1024.865306,602.024335,1.0,491.25,1020.5,1555.75,2068.0
EnvironmentSatisfaction,1470.0,2.721769,1.093082,1.0,2.00,3.0,4.00,4.0
HourlyRate,1470.0,65.891156,20.329428,30.0,48.00,66.0,83.75,100.0
JobInvolvement,1470.0,2.729932,0.711561,1.0,2.00,3.0,3.00,4.0
JobLevel,1470.0,2.063946,1.106940,1.0,1.00,2.0,3.00,5.0
JobSatisfaction,1470.0,2.728571,1.102846,1.0,2.00,3.0,4.00,4.0
MonthlyIncome,1470.0,6502.931293,4707.956783,1009.0,2911.00,4919.0,8379.00,19999.0
MonthlyRate,1470.0,14313.103401,7117.786044,2094.0,8047.00,14235.5,20461.50,26999.0
NumCompaniesWorked,1470.0,2.693197,2.498009,0.0,1.00,2.0,4.00,9.0
PercentSalaryHike,1470.0,15.209524,3.659938,11.0,12.00,14.0,18.00,25.0
PerformanceRating,1470.0,3.153741,0.360824,3.0,3.00,3.0,3.00,4.0
RelationshipSatisfaction,1470.0,2.712245,1.081209,1.0,2.00,3.0,4.00,4.0
StandardHours,1470.0,80.000000,0.000000,80.0,80.00,80.0,80.00,80.0
StockOptionLevel,1470.0,0.793878,0.852077,0.0,0.00,1.0,1.00,3.0
TotalWorkingYears,1470.0,11.279592,7.780782,0.0,6.00,10.0,15.00,40.0
TrainingTimesLastYear,1470.0,2.799320,1.289271,0.0,2.00,3.0,3.00,6.0
WorkLifeBalance,1470.0,2.761224,0.706476,1.0,2.00,3.0,3.00,4.0
YearsAtCompany,1470.0,7.008163,6.126525,0.0,3.00,5.0,9.00,40.0
YearsInCurrentRole,1470.0,4.229252,3.623137,0.0,2.00,3.0,7.00,18.0
YearsSinceLastPromotion,1470.0,2.187755,3.222430,0.0,0.00,1.0,3.00,15.0
YearsWithCurrManager,1470.0,4.123129,3.568136,0.0,2.00,3.0,7.00,17.0

In [9]:
num_features = df.select_dtypes(exclude='object').columns.to_list()
cat_features = df.select_dtypes(include='object').columns.to_list()

descrete_features = list()
continues_features = list()

for feature in num_features:
    if df[feature].nunique() > 5:
        continues_features.append(feature)
    else:
        descrete_features.append(feature)    

cat_features.remove('Attrition')


target_feature = 'Attrition'

In [42]:
significant_num_features = list()

def checkNormality(sample_1,sample_2):
    print('Shapiro-Wilk Test')
    # Null Hypothesis (H0): the data was drawn from a normal distribution.
    # Alternative Hypothesis (H1): the data was not drawn from a normal distribution.

    stats_1,p_val_1 = shapiro(sample_1)
    stats_2,p_val_2 = shapiro(sample_2)
    print()
    print(f'sample 1 : stats {stats_1}, p-val: {p_val_1}')
    print(f'sample 1 : stats {stats_2}, p-val: {p_val_2}')
    result = p_val_2 > 0.05 or p_val_1 > 0.05
    return result


def checkVarianceHomogenisity(sample_1,sample_2):
    print('levene Test')
    # Null Hypothesis (H0): The variances are equal across the groups.
    # Alternative Hypothesis (H1): The variances are not equal across the groups.

    stats, p_val = levene(sample_1, sample_2)
    print()
    print(f'sample 1 : stats {stats}, p-val: {p_val}')
    result = p_val > 0.05
    return result


def MannWhitneyTest(sample_1, sample_2):
    print('Mann-Whitney U test')
    # Null Hypothesis (H0): The distributions of the two groups are equal.
    # Alternative Hypothesis (H1): The distributions of the two groups are not equal.

    stats, p_val = mannwhitneyu(sample_1, sample_2)
    print()
    print(f'sample 1 : stats {stats}, p-val: {p_val}')
    result = p_val > 0.05
    return result
        

def Ttest(sample_1, sample_2,var_same=True):
    if var_same:
        print('T-test of Independence')
    else:
        print("Wetch's T-test")    
    # Null Hypothesis (H0): The distributions of the two groups are equal.
    # Alternative Hypothesis (H1): The distributions of the two groups are not equal.

    stats, p_val = ttest_ind(sample_1, sample_2,equal_var=var_same)
    print()
    print(f'sample 1 : stats {stats}, p-val: {p_val}')
    result = p_val > 0.05
    return result


def CheckSignificance(feature):
    print('levene Test')
    # taking out random samples
    class_samples_1 = df[df['Attrition'] == 'Yes'][feature].sample(200)
    class_samples_2 = df[df['Attrition'] == 'No'][feature].sample(200)
    print(feature)
    print('-'*25)

    

    if checkNormality(class_samples_1,class_samples_2):
        print('The samples not follows normal distribution. (Reject H0) ✓')
        if checkVarianceHomogenisity(class_samples_1,class_samples_2):
            print(f'This variance of two given samples are homogeneus. (Reject H0) ✓') 
            if Ttest(class_samples_1, class_samples_2):
                print(f'This means that there is a significant difference between the two groups. (Reject H0) ✓')  
                significant_num_features.append(feature)     
            else:
                 print(f'This means that there is no significant difference between the two groups. (Accept H0) ✗')   
        else:
            if MannWhitneyTest(class_samples_1, class_samples_2):
                print(f'This means that there is a significant difference between the two groups. (Reject H0) ✓')  
                significant_num_features.append(feature)     
            else:
                print(f'This means that there is no significant difference between the two groups. (Accept H0) ✗')
    else:
        print('The samples follows normal distribution. (Reject H0) ✓')
        if checkVarianceHomogenisity(class_samples_1,class_samples_2):
            print(f'This variance of two given samples are homogeneus. (Reject H0) ✓') 
            if Ttest(class_samples_1, class_samples_2,False):
                print(f'This means that there is a significant difference between the two groups. (Reject H0) ✓')  
                significant_num_features.append(feature)     
            else:
                 print(f'This means that there is no significant difference between the two groups. (Accept H0) ✗')   
        else:
            if MannWhitneyTest(class_samples_1, class_samples_2):
                print(f'This means that there is a significant difference between the two groups. (Reject H0) ✓')  
                significant_num_features.append(feature)     
            else:
                print(f'This means that there is no significant difference between the two groups. (Accept H0) ✗')
    print('-'*25)

for feature in continues_features:
    CheckSignificance(feature)

levene Test
Age
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.9373736490696776, p-val: 1.362509688736108e-07
sample 1 : stats 0.9675995011078379, p-val: 0.00014434326964359677
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 1.9800408975945734, p-val: 0.16016653083408341
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats -4.078506436178763, p-val: 5.506467962506044e-05
This means that there is no significant difference between the two groups. (Accept H0) ✗
-------------------------
levene Test
DailyRate
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.9364352608192787, p-val: 1.1349516612551868e-07
sample 1 : stats 0.9478143763829645, p-val: 1.1682095492745311e-06
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 0.030627774209332277, p-val: 0.8611624006299059
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats -2.274015270236262, p-val: 0.023497089486012094
This means that there is no significant difference between the two groups. (Accept H0) ✗
-------------------------
levene Test
DistanceFromHome
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.8924955746481246, p-val: 8.581560644033756e-11
sample 1 : stats 0.8537576353591191, p-val: 6.569362620376109e-13
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 11.579400131459083, p-val: 0.0007344979277547177
Mann-Whitney U test

sample 1 : stats 23148.0, p-val: 0.0063264897882457085
This means that there is no significant difference between the two groups. (Accept H0) ✗
-------------------------
levene Test
EmployeeNumber
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.9618882570644776, p-val: 3.183409162857509e-05
sample 1 : stats 0.9504283078117259, p-val: 2.075507341595873e-06
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 1.3094560363782763, p-val: 0.25318089275818095
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats -1.1289140919528746, p-val: 0.25961624352451235
This means that there is a significant difference between the two groups. (Reject H0) ✓
-------------------------
levene Test
HourlyRate
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.9582738210259982, p-val: 1.2924414229211e-05
sample 1 : stats 0.9478016217513967, p-val: 1.1649834301507823e-06
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 0.7859558925248383, p-val: 0.3758611467340681
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats 1.1883674718865795, p-val: 0.23539830859665226
This means that there is a significant difference between the two groups. (Reject H0) ✓
-------------------------
levene Test
MonthlyIncome
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.8022174910117728, p-val: 3.4181191154105108e-15
sample 1 : stats 0.8540511800269952, p-val: 6.792538964263701e-13
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 20.500849424913937, p-val: 7.885957996984075e-06
Mann-Whitney U test

sample 1 : stats 13211.5, p-val: 4.3252336660035236e-09
This means that there is no significant difference between the two groups. (Accept H0) ✗
-------------------------
levene Test
MonthlyRate
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.9543536459322031, p-val: 5.077117550726311e-06
sample 1 : stats 0.9620973449121156, p-val: 3.358007804935264e-05
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 1.8438343790286447, p-val: 0.17527151207409863
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats 1.8675195829168445, p-val: 0.06256600318168722
This means that there is a significant difference between the two groups. (Reject H0) ✓
-------------------------
levene Test
NumCompaniesWorked
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.8301479833595093, p-val: 5.1424460998753904e-14
sample 1 : stats 0.8536350828562147, p-val: 6.478460411486617e-13
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 0.6690443321632551, p-val: 0.4138744097359627
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats 0.7621627064597739, p-val: 0.44641773615282165
This means that there is a significant difference between the two groups. (Reject H0) ✓
-------------------------
levene Test
PercentSalaryHike
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.8957986373629139, p-val: 1.3684829444618627e-10
sample 1 : stats 0.9036328187462438, p-val: 4.3076358486040295e-10
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 1.3513103990122937, p-val: 0.24574572139173295
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats 0.38106578006852426, p-val: 0.7033593067911101
This means that there is a significant difference between the two groups. (Reject H0) ✓
-------------------------
levene Test
TotalWorkingYears
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.8599666753205801, p-val: 1.345175125577479e-12
sample 1 : stats 0.9051570177115208, p-val: 5.421702498944772e-10
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 4.514231292721066, p-val: 0.03422973411500893
Mann-Whitney U test

sample 1 : stats 13470.5, p-val: 1.5111629704241424e-08
This means that there is no significant difference between the two groups. (Accept H0) ✗
-------------------------
levene Test
TrainingTimesLastYear
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.8932114285398922, p-val: 9.487265933344207e-11
sample 1 : stats 0.8694998802126495, p-val: 4.2223118853269496e-12
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 0.21076373906562523, p-val: 0.6464200756618831
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats -1.4636168110033259, p-val: 0.1440879932907358
This means that there is a significant difference between the two groups. (Reject H0) ✓
-------------------------
levene Test
YearsAtCompany
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.7251464502167104, p-val: 6.44823189544625e-18
sample 1 : stats 0.8675329354256442, p-val: 3.3195829773657042e-12
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 0.1524469028653288, p-val: 0.6964167826144109
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats -2.8357778528083433, p-val: 0.004805919698103237
This means that there is no significant difference between the two groups. (Accept H0) ✗
-------------------------
levene Test
YearsInCurrentRole
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.8142389531815984, p-val: 1.0594888641959866e-14
sample 1 : stats 0.9250190531294549, p-val: 1.3817220312513279e-08
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 12.938761975846415, p-val: 0.00036235579213847517
Mann-Whitney U test

sample 1 : stats 13030.0, p-val: 8.482999461281986e-10
This means that there is no significant difference between the two groups. (Accept H0) ✗
-------------------------
levene Test
YearsSinceLastPromotion
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.6223070765100032, p-val: 8.804173498741108e-21
sample 1 : stats 0.69349333707084, p-val: 7.126259747214457e-19
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 1.3306405880899954, p-val: 0.24938354231184068
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats -1.652041159512504, p-val: 0.099325839674365
This means that there is a significant difference between the two groups. (Reject H0) ✓
-------------------------
levene Test
YearsWithCurrManager
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.8289882892971907, p-val: 4.567362893196418e-14
sample 1 : stats 0.9116645178864158, p-val: 1.4879076007501496e-09
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 6.137555396840775, p-val: 0.01364829471385134
Mann-Whitney U test

sample 1 : stats 14138.5, p-val: 2.668456145772531e-07
This means that there is no significant difference between the two groups. (Accept H0) ✗
-------------------------

In [16]:
significant_num_features

['DistanceFromHome',
 'EmployeeNumber',
 'HourlyRate',
 'MonthlyRate',
 'PercentSalaryHike',
 'TrainingTimesLastYear',
 'YearsSinceLastPromotion']

In [17]:
for feature in descrete_features:
    print(feature,df[feature].nunique())

descrete_features = [feature for feature in descrete_features if df[feature].nunique() > 1]

Education 5
EmployeeCount 1
EnvironmentSatisfaction 4
JobInvolvement 4
JobLevel 5
JobSatisfaction 4
PerformanceRating 2
RelationshipSatisfaction 4
StandardHours 1
StockOptionLevel 4
WorkLifeBalance 4

In [18]:
for feature in cat_features:
    print(feature,df[feature].nunique())
    
cat_features = [feature for feature in cat_features if df[feature].nunique() > 1]

BusinessTravel 3
Department 3
EducationField 6
Gender 2
JobRole 9
MaritalStatus 3
Over18 1
OverTime 2

In [38]:
significant_cat_features = list()

def significant_bin_cat_features(feature,target):
    print(feature)
    feat,target = df[feature].sample(500),df[target].sample(500)
    contingency_table = pd.crosstab(feat,target)
    print('-'*25)

    result = chi2_contingency(contingency_table)
    if (result.expected_freq < 5).any():
        p_value = result.pvalue
        print(f'The Frequency count greater than 5. Assumption satisfied ✓') 
        if p_value < 0.05:
            print("Reject the null hypothesis: There is an association between the two categorical variables. ✓")
            significant_cat_features.append(feature)
        else:
            print("Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗") 
    else:
        print(f'The Frequency count is greater than 5. Assumption violated ✗')
        print()
        print('Fisher exact test')

        # Null Hypothesis (H0): There is no association between the two categorical variables.
        # Alternative Hypothesis (H1): There is an association between the two categorical variables.
        oddsratio, p_value = fisher_exact(contingency_table)

        print("Odds Ratio:", oddsratio)
        print("P-value:", p_value)

        # Interpretation based on p-value
        if p_value < 0.05:
            print("Reject the null hypothesis: There is an association between the two categorical variables. ✓")
            significant_cat_features.append(feature)
        else:
            print("Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗")     
    print('-'*25) 


for feature in descrete_features+cat_features:
    significant_bin_cat_features(feature,target_feature)

Education
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
EnvironmentSatisfaction
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
JobInvolvement
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
JobLevel
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Reject the null hypothesis: There is an association between the two categorical variables. ✓
-------------------------
JobSatisfaction
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Reject the null hypothesis: There is an association between the two categorical variables. ✓
-------------------------
PerformanceRating
-------------------------
The Frequency count is greater than 5. Assumption violated ✗

Fisher exact test
Odds Ratio: 0.8705357142857143
P-value: 1.0
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
RelationshipSatisfaction
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
StockOptionLevel
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Reject the null hypothesis: There is an association between the two categorical variables. ✓
-------------------------
WorkLifeBalance
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
BusinessTravel
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
Department
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Reject the null hypothesis: There is an association between the two categorical variables. ✓
-------------------------
EducationField
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
Gender
-------------------------
The Frequency count is greater than 5. Assumption violated ✗

Fisher exact test
Odds Ratio: 0.8863636363636364
P-value: 0.8169004748911517
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
JobRole
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
MaritalStatus
-------------------------
The Frequency count is greater than 5. Assumption violated ✗

Fisher exact test
Odds Ratio: 0.00022891915729522115
P-value: 0.0063
Reject the null hypothesis: There is an association between the two categorical variables. ✓
-------------------------
OverTime
-------------------------
The Frequency count is greater than 5. Assumption violated ✗

Fisher exact test
Odds Ratio: 3.3378378378378377
P-value: 0.007771946871519933
Reject the null hypothesis: There is an association between the two categorical variables. ✓
-------------------------

In [47]:
len(df.columns.to_list())

35

In [45]:
len(significant_cat_features+significant_num_features)

13