In [174]:
import pandas as pd
import numpy as np
import os
from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import mlflow


from scipy.stats import (
                         shapiro,
                         levene,
                         mannwhitneyu,
                         ttest_ind,
                         chi2_contingency,
                         fisher_exact)

from sklearn.preprocessing import (
                            MinMaxScaler,
                            OneHotEncoder,
                            LabelEncoder
                            )

from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from statsmodels.discrete.discrete_model import Logit
from statsmodels.stats.outliers_influence import variance_inflation_factor

pd.set_option('display.max_columns', None)

In [2]:
data_path = Path('../../Artifacts/Attrition.csv').resolve() 
df = pd.read_csv(data_path)

In [3]:
df.sample(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
739,27,No,Travel_Rarely,1055,Research & Development,2,4,Life Sciences,1,1027,1,Female,47,3,2,Manufacturing Director,4,Married,4227,4658,0,Y,No,18,3,2,80,1,4,2,3,3,2,2,2
1119,38,No,Travel_Rarely,1245,Sales,14,3,Life Sciences,1,1582,3,Male,80,3,2,Sales Executive,2,Married,9924,12355,0,Y,No,11,3,4,80,1,10,3,3,9,8,7,7
770,46,No,Travel_Rarely,430,Research & Development,1,4,Medical,1,1069,4,Male,40,3,5,Research Director,4,Divorced,19627,21445,9,Y,No,17,3,4,80,2,23,0,3,2,2,2,2
889,27,No,Travel_Rarely,1103,Research & Development,14,3,Life Sciences,1,1244,1,Male,42,3,1,Research Scientist,1,Married,2235,14377,1,Y,Yes,14,3,4,80,2,9,3,2,9,7,6,8
873,36,No,Travel_Rarely,917,Research & Development,6,4,Life Sciences,1,1221,3,Male,60,1,1,Laboratory Technician,3,Divorced,2741,6865,1,Y,No,14,3,3,80,1,7,4,3,7,7,1,7

In [4]:
df.shape

(1470, 35)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [6]:
df.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [7]:
df.select_dtypes(exclude='object').describe().T

,count,mean,std,min,25%,50%,75%,max
Age,1470.0,36.923810,9.135373,18.0,30.00,36.0,43.00,60.0
DailyRate,1470.0,802.485714,403.509100,102.0,465.00,802.0,1157.00,1499.0
DistanceFromHome,1470.0,9.192517,8.106864,1.0,2.00,7.0,14.00,29.0
Education,1470.0,2.912925,1.024165,1.0,2.00,3.0,4.00,5.0
EmployeeCount,1470.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0
EmployeeNumber,1470.0,1024.865306,602.024335,1.0,491.25,1020.5,1555.75,2068.0
EnvironmentSatisfaction,1470.0,2.721769,1.093082,1.0,2.00,3.0,4.00,4.0
HourlyRate,1470.0,65.891156,20.329428,30.0,48.00,66.0,83.75,100.0
JobInvolvement,1470.0,2.729932,0.711561,1.0,2.00,3.0,3.00,4.0
JobLevel,1470.0,2.063946,1.106940,1.0,1.00,2.0,3.00,5.0
JobSatisfaction,1470.0,2.728571,1.102846,1.0,2.00,3.0,4.00,4.0
MonthlyIncome,1470.0,6502.931293,4707.956783,1009.0,2911.00,4919.0,8379.00,19999.0
MonthlyRate,1470.0,14313.103401,7117.786044,2094.0,8047.00,14235.5,20461.50,26999.0
NumCompaniesWorked,1470.0,2.693197,2.498009,0.0,1.00,2.0,4.00,9.0
PercentSalaryHike,1470.0,15.209524,3.659938,11.0,12.00,14.0,18.00,25.0
PerformanceRating,1470.0,3.153741,0.360824,3.0,3.00,3.0,3.00,4.0
RelationshipSatisfaction,1470.0,2.712245,1.081209,1.0,2.00,3.0,4.00,4.0
StandardHours,1470.0,80.000000,0.000000,80.0,80.00,80.0,80.00,80.0
StockOptionLevel,1470.0,0.793878,0.852077,0.0,0.00,1.0,1.00,3.0
TotalWorkingYears,1470.0,11.279592,7.780782,0.0,6.00,10.0,15.00,40.0
TrainingTimesLastYear,1470.0,2.799320,1.289271,0.0,2.00,3.0,3.00,6.0
WorkLifeBalance,1470.0,2.761224,0.706476,1.0,2.00,3.0,3.00,4.0
YearsAtCompany,1470.0,7.008163,6.126525,0.0,3.00,5.0,9.00,40.0
YearsInCurrentRole,1470.0,4.229252,3.623137,0.0,2.00,3.0,7.00,18.0
YearsSinceLastPromotion,1470.0,2.187755,3.222430,0.0,0.00,1.0,3.00,15.0
YearsWithCurrManager,1470.0,4.123129,3.568136,0.0,2.00,3.0,7.00,17.0

In [4]:
num_features = df.select_dtypes(exclude='object').columns.to_list()
cat_features = df.select_dtypes(include='object').columns.to_list()

descrete_features = list()
continues_features = list()

for feature in num_features:
    if df[feature].nunique() > 5:
        continues_features.append(feature)
    else:
        descrete_features.append(feature)    

cat_features.remove('Attrition')

target_feature = 'Attrition'

In [5]:
significant_num_features = list()

def checkNormality(sample_1,sample_2):
    print('Shapiro-Wilk Test')
    # Null Hypothesis (H0): the data was drawn from a normal distribution.
    # Alternative Hypothesis (H1): the data was not drawn from a normal distribution.

    stats_1,p_val_1 = shapiro(sample_1)
    stats_2,p_val_2 = shapiro(sample_2)
    print()
    print(f'sample 1 : stats {stats_1}, p-val: {p_val_1}')
    print(f'sample 1 : stats {stats_2}, p-val: {p_val_2}')
    result = p_val_2 > 0.05 or p_val_1 > 0.05
    return result


def checkVarianceHomogenisity(sample_1,sample_2):
    print('levene Test')
    # Null Hypothesis (H0): The variances are equal across the groups.
    # Alternative Hypothesis (H1): The variances are not equal across the groups.

    stats, p_val = levene(sample_1, sample_2)
    print()
    print(f'sample 1 : stats {stats}, p-val: {p_val}')
    result = p_val > 0.05
    return result


def MannWhitneyTest(sample_1, sample_2):
    print('Mann-Whitney U test')
    # Null Hypothesis (H0): The distributions of the two groups are equal.
    # Alternative Hypothesis (H1): The distributions of the two groups are not equal.

    stats, p_val = mannwhitneyu(sample_1, sample_2)
    print()
    print(f'sample 1 : stats {stats}, p-val: {p_val}')
    result = p_val > 0.05
    return result
        

def Ttest(sample_1, sample_2,var_same=True):
    if var_same:
        print('T-test of Independence')
    else:
        print("Wetch's T-test")    
    # Null Hypothesis (H0): The distributions of the two groups are equal.
    # Alternative Hypothesis (H1): The distributions of the two groups are not equal.

    stats, p_val = ttest_ind(sample_1, sample_2,equal_var=var_same)
    print()
    print(f'sample 1 : stats {stats}, p-val: {p_val}')
    result = p_val > 0.05
    return result


def CheckSignificance(feature):
    print('levene Test')
    # taking out random samples
    class_samples_1 = df[df['Attrition'] == 'Yes'][feature].sample(200)
    class_samples_2 = df[df['Attrition'] == 'No'][feature].sample(200)
    print(feature)
    print('-'*25)

    

    if checkNormality(class_samples_1,class_samples_2):
        print('The samples not follows normal distribution. (Reject H0) ✓')
        if checkVarianceHomogenisity(class_samples_1,class_samples_2):
            print(f'This variance of two given samples are homogeneus. (Reject H0) ✓') 
            if Ttest(class_samples_1, class_samples_2):
                print(f'This means that there is a significant difference between the two groups. (Reject H0) ✓')  
                significant_num_features.append(feature)     
            else:
                 print(f'This means that there is no significant difference between the two groups. (Accept H0) ✗')   
        else:
            if MannWhitneyTest(class_samples_1, class_samples_2):
                print(f'This means that there is a significant difference between the two groups. (Reject H0) ✓')  
                significant_num_features.append(feature)     
            else:
                print(f'This means that there is no significant difference between the two groups. (Accept H0) ✗')
    else:
        print('The samples follows normal distribution. (Reject H0) ✓')
        if checkVarianceHomogenisity(class_samples_1,class_samples_2):
            print(f'This variance of two given samples are homogeneus. (Reject H0) ✓') 
            if Ttest(class_samples_1, class_samples_2,False):
                print(f'This means that there is a significant difference between the two groups. (Reject H0) ✓')  
                significant_num_features.append(feature)     
            else:
                 print(f'This means that there is no significant difference between the two groups. (Accept H0) ✗')   
        else:
            if MannWhitneyTest(class_samples_1, class_samples_2):
                print(f'This means that there is a significant difference between the two groups. (Reject H0) ✓')  
                significant_num_features.append(feature)     
            else:
                print(f'This means that there is no significant difference between the two groups. (Accept H0) ✗')
    print('-'*25)

for feature in continues_features:
    CheckSignificance(feature)

levene Test
Age
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.9397645051692768, p-val: 2.1863073824777074e-07
sample 1 : stats 0.9811783555461417, p-val: 0.008762577519654369
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 0.6640251857952748, p-val: 0.41562981936458887
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats -4.377657748239208, p-val: 1.5388592725524938e-05
This means that there is no significant difference between the two groups. (Accept H0) ✗
-------------------------
levene Test
DailyRate
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.9500604767606473, p-val: 1.9123846513200963e-06
sample 1 : stats 0.948447474056279, p-val: 1.3407199875914233e-06
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 0.4067122018610013, p-val: 0.5240097173939537
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats -1.9780059672777228, p-val: 0.04861750017950972
This means that there is no significant difference between the two groups. (Accept H0) ✗
-------------------------
levene Test
DistanceFromHome
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.9000592461318362, p-val: 2.5348137574751326e-10
sample 1 : stats 0.8526695647274947, p-val: 5.806543187049178e-13
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 1.5261141287954127, p-val: 0.21742529998225923
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats 2.0828689363225137, p-val: 0.03790200502370687
This means that there is no significant difference between the two groups. (Accept H0) ✗
-------------------------
levene Test
EmployeeNumber
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.9598367000375989, p-val: 1.8991155542800016e-05
sample 1 : stats 0.9535411441828217, p-val: 4.205279179184167e-06
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 0.18156088747870344, p-val: 0.6702656015213394
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats -1.17199368622611, p-val: 0.2419008801620428
This means that there is a significant difference between the two groups. (Reject H0) ✓
-------------------------
levene Test
HourlyRate
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.9545710779295007, p-val: 5.341244865203971e-06
sample 1 : stats 0.9557533412124309, p-val: 7.052981297364269e-06
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 0.002414130939550715, p-val: 0.9608373092115474
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats -0.35469056052480874, p-val: 0.7230092920942692
This means that there is a significant difference between the two groups. (Reject H0) ✓
-------------------------
levene Test
MonthlyIncome
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.7803061192340878, p-val: 4.904819792705374e-16
sample 1 : stats 0.8165083540594475, p-val: 1.3193533829916521e-14
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 10.06248240712269, p-val: 0.0016305475764528744
Mann-Whitney U test

sample 1 : stats 13660.5, p-val: 4.184330389815493e-08
This means that there is no significant difference between the two groups. (Accept H0) ✗
-------------------------
levene Test
MonthlyRate
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.9484474401777, p-val: 1.3407100727309022e-06
sample 1 : stats 0.9514321326097959, p-val: 2.5993660220641545e-06
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 0.0004458385641252509, p-val: 0.9831645887972943
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats -0.6678450699324762, p-val: 0.5046196004929959
This means that there is a significant difference between the two groups. (Reject H0) ✓
-------------------------
levene Test
NumCompaniesWorked
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.8268905255210286, p-val: 3.6907874103620397e-14
sample 1 : stats 0.8459287115871746, p-val: 2.740044655745283e-13
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 0.756941005405293, p-val: 0.38481193654276546
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats 1.0745930736120481, p-val: 0.2832114232355712
This means that there is a significant difference between the two groups. (Reject H0) ✓
-------------------------
levene Test
PercentSalaryHike
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.8804494414767834, p-val: 1.6880258749600866e-11
sample 1 : stats 0.9174654580394266, p-val: 3.810320121809199e-09
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 2.246987456013746, p-val: 0.13466754743592907
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats 0.06809770953934606, p-val: 0.9457427686009326
This means that there is a significant difference between the two groups. (Reject H0) ✓
-------------------------
levene Test
TotalWorkingYears
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.8442527128792049, p-val: 2.281392502894237e-13
sample 1 : stats 0.913263260936384, p-val: 1.9204511135559375e-09
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 2.361355037271291, p-val: 0.1251686898634154
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats -4.895988402845828, p-val: 1.4301120641344519e-06
This means that there is no significant difference between the two groups. (Accept H0) ✗
-------------------------
levene Test
TrainingTimesLastYear
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.8925890482994717, p-val: 8.694513887862682e-11
sample 1 : stats 0.8951969730074578, p-val: 1.256065580786677e-10
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 0.13868384747763446, p-val: 0.7097911865100452
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats -1.4011269875038928, p-val: 0.16195559478980504
This means that there is a significant difference between the two groups. (Reject H0) ✓
-------------------------
levene Test
YearsAtCompany
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.7218075201138126, p-val: 5.067598006336276e-18
sample 1 : stats 0.8380566287300398, p-val: 1.1725660304631097e-13
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 4.197525077341332, p-val: 0.04113834443321421
Mann-Whitney U test

sample 1 : stats 13857.5, p-val: 9.292358653307062e-08
This means that there is no significant difference between the two groups. (Accept H0) ✗
-------------------------
levene Test
YearsInCurrentRole
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.8341259779904229, p-val: 7.7577190439556e-14
sample 1 : stats 0.889172379125006, p-val: 5.416714349068541e-11
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 13.968637250635256, p-val: 0.0002130988530381587
Mann-Whitney U test

sample 1 : stats 13918.0, p-val: 8.41840109485161e-08
This means that there is no significant difference between the two groups. (Accept H0) ✗
-------------------------
levene Test
YearsSinceLastPromotion
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.660149698460976, p-val: 8.35065071766601e-20
sample 1 : stats 0.7388522118740668, p-val: 1.7743696652950184e-17
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 0.9200491412792514, p-val: 0.3380443921720242
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats 0.15164442789071947, p-val: 0.8795473539222503
This means that there is a significant difference between the two groups. (Reject H0) ✓
-------------------------
levene Test
YearsWithCurrManager
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.8248439095393376, p-val: 3.0032069388936963e-14
sample 1 : stats 0.911493427818162, p-val: 1.4480745868472327e-09
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 5.073296243522137, p-val: 0.024841358993945562
Mann-Whitney U test

sample 1 : stats 14216.5, p-val: 3.773578330157682e-07
This means that there is no significant difference between the two groups. (Accept H0) ✗
-------------------------

In [6]:
for feature in descrete_features:
    print(feature,df[feature].nunique())

descrete_features = [feature for feature in descrete_features if df[feature].nunique() > 1]

Education 5
EmployeeCount 1
EnvironmentSatisfaction 4
JobInvolvement 4
JobLevel 5
JobSatisfaction 4
PerformanceRating 2
RelationshipSatisfaction 4
StandardHours 1
StockOptionLevel 4
WorkLifeBalance 4

In [7]:
for feature in cat_features:
    print(feature,df[feature].nunique())
    
cat_features = [feature for feature in cat_features if df[feature].nunique() > 1]

BusinessTravel 3
Department 3
EducationField 6
Gender 2
JobRole 9
MaritalStatus 3
Over18 1
OverTime 2

In [8]:
significant_cat_features = list()

def significant_bin_cat_features(feature,target):
    print(feature)
    feat,target = df[feature].sample(500),df[target].sample(500)
    contingency_table = pd.crosstab(feat,target)
    print('-'*25)

    result = chi2_contingency(contingency_table)
    if (result.expected_freq < 5).any():
        p_value = result.pvalue
        print(f'The Frequency count greater than 5. Assumption satisfied ✓') 
        if p_value < 0.05:
            print("Reject the null hypothesis: There is an association between the two categorical variables. ✓")
            significant_cat_features.append(feature)
        else:
            print("Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗") 
    else:
        print(f'The Frequency count is greater than 5. Assumption violated ✗')
        print()
        print('Fisher exact test')

        # Null Hypothesis (H0): There is no association between the two categorical variables.
        # Alternative Hypothesis (H1): There is an association between the two categorical variables.
        oddsratio, p_value = fisher_exact(contingency_table)

        print("Odds Ratio:", oddsratio)
        print("P-value:", p_value)

        # Interpretation based on p-value
        if p_value < 0.05:
            print("Reject the null hypothesis: There is an association between the two categorical variables. ✓")
            significant_cat_features.append(feature)
        else:
            print("Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗")     
    print('-'*25) 


for feature in descrete_features+cat_features:
    significant_bin_cat_features(feature,target_feature)

Education
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
EnvironmentSatisfaction
-------------------------
The Frequency count is greater than 5. Assumption violated ✗

Fisher exact test
Odds Ratio: 0.006444952331739049
P-value: 0.9255
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
JobInvolvement
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Reject the null hypothesis: There is an association between the two categorical variables. ✓
-------------------------
JobLevel
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
JobSatisfaction
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Reject the null hypothesis: There is an association between the two categorical variables. ✓
-------------------------
PerformanceRating
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
RelationshipSatisfaction
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Reject the null hypothesis: There is an association between the two categorical variables. ✓
-------------------------
StockOptionLevel
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Reject the null hypothesis: There is an association between the two categorical variables. ✓
-------------------------
WorkLifeBalance
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
BusinessTravel
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
Department
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
EducationField
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
Gender
-------------------------
The Frequency count is greater than 5. Assumption violated ✗

Fisher exact test
Odds Ratio: 1.9883720930232558
P-value: 0.1929430183317689
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
JobRole
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
MaritalStatus
-------------------------
The Frequency count is greater than 5. Assumption violated ✗

Fisher exact test
Odds Ratio: 0.005687954686583435
P-value: 0.1137
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
OverTime
-------------------------
The Frequency count is greater than 5. Assumption violated ✗

Fisher exact test
Odds Ratio: 5.285714285714286
P-value: 0.00021609669304481944
Reject the null hypothesis: There is an association between the two categorical variables. ✓
-------------------------

In [11]:
final_selected_features = significant_cat_features+significant_num_features+ [target_feature]

In [12]:
data = df[final_selected_features]

In [19]:
sacle_features= [
                 'HourlyRate',
                 'MonthlyRate',
                 'PercentSalaryHike',
                 'TrainingTimesLastYear',
                 'YearsSinceLastPromotion',
                 'EmployeeNumber',
                 'JobInvolvement',
                 'JobSatisfaction',
                 'RelationshipSatisfaction']
ohe_features = ['OverTime']
label_encode_features = ['Attrition']

In [125]:
mx = MinMaxScaler()
ohe = OneHotEncoder(dtype=int,drop='first')
le = LabelEncoder()


ct = ColumnTransformer([
   ('one_hot_encoding',ohe,ohe_features),
   ('min_max_scaling',mx,sacle_features)]
 )

X , y = df.drop('Attrition',axis=1),df['Attrition']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

X_train_transformed = ct.fit_transform(X_train)
X_test_transformed = ct.transform(X_test)

y_train_transformed = le.fit_transform(y_train)
y_test_transformed = le.transform(y_test)

columns =[feature.split('__')[-1] for feature in ct.get_feature_names_out()]
X_train_transformed = pd.DataFrame(X_train_transformed,columns=columns)
X_test_transformed = pd.DataFrame(X_test_transformed,columns=columns)

y_train_transformed = pd.DataFrame(y_train_transformed,dtype=float)
y_test_transformed = pd.DataFrame(y_test_transformed,dtype=float)

In [168]:
lr1 = Logit(y_train_transformed,X_train_transformed,).fit(maxiter=100)
lr1.summary()

Optimization terminated successfully.
         Current function value: 0.402030
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      0   No. Observations:                  984
Model:                          Logit   Df Residuals:                      973
Method:                           MLE   Df Model:                           10
Date:                Fri, 28 Feb 2025   Pseudo R-squ.:                  0.1173
Time:                        16:40:52   Log-Likelihood:                -395.60
converged:                       True   LL-Null:                       -448.15
Covariance Type:            nonrobust   LLR p-value:                 5.170e-18
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                       -0.3534      0.484     -0.730      0.465      -1.302       0.595
OverTime_Yes                 1.5082      0.183      8.222      0.000       1.149       1.868
HourlyRate                  -0.0421      0.319     -0.132      0.895      -0.668       0.584
MonthlyRate                  0.0295      0.321      0.092      0.927      -0.599       0.658
PercentSalaryHike           -0.0777      0.353     -0.220      0.826      -0.769       0.614
TrainingTimesLastYear       -0.5293      0.444     -1.192      0.233      -1.400       0.341
YearsSinceLastPromotion     -0.8450      0.484     -1.747      0.081      -1.793       0.103
EmployeeNumber               0.2318      0.309      0.750      0.453      -0.374       0.837
JobInvolvement              -1.6874      0.372     -4.535      0.000      -2.417      -0.958
JobSatisfaction             -0.7788      0.244     -3.188      0.001      -1.258      -0.300
RelationshipSatisfaction    -0.3959      0.254     -1.558      0.119      -0.894       0.102
============================================================================================
"""

In [199]:
exp = mlflow.create_experiment(name='LogitModelExperiment1')

In [207]:
mlflow.set_tracking_uri(uri='http://127.0.0.1:5000')
exp = mlflow.create_experiment(name=exp)

with mlflow.start_run():
    lr1 = Logit(y_train_transformed,X_train_transformed,).fit(maxiter=100)
    mlflow.statsmodels.log_model(lr1,artifact_path='Statsmodels')
    params = lr1.pvalues.to_dict()
    mlflow.log_params(params)

Optimization terminated successfully.
         Current function value: 0.402030
         Iterations 6

2025/02/28 19:03:10 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

🏃 View run agreeable-shad-437 at: http://127.0.0.1:5000/#/experiments/0/runs/a4e070f82018455181e7beeea18d10b6
🧪 View experiment at: http://127.0.0.1:5000/#/experiments/0

{'const': 0.4654069279460823,
 'OverTime_Yes': 1.9994468407938194e-16,
 'HourlyRate': 0.8951964558753169,
 'MonthlyRate': 0.9268233717923257,
 'PercentSalaryHike': 0.8256381607834216,
 'TrainingTimesLastYear': 0.23344689394942575,
 'YearsSinceLastPromotion': 0.0806646828027661,
 'EmployeeNumber': 0.453227827523358,
 'JobInvolvement': 5.758670029444156e-06,
 'JobSatisfaction': 0.0014325374944757702,
 'RelationshipSatisfaction': 0.11915627868283553}

In [173]:
VIF = pd.DataFrame()
VIF['Features'] = X_train_transformed.columns.to_list()
VIF['VIF'] = [variance_inflation_factor(X_train_transformed.values,i) for i in range(X_train_transformed.shape[1])]
VIF.sort_values(by='VIF',ascending=False,inplace=True)
VIF

                    Features        VIF
0                      const  29.894225
2                 HourlyRate   1.017786
6    YearsSinceLastPromotion   1.012729
9            JobSatisfaction   1.010868
7             EmployeeNumber   1.010062
10  RelationshipSatisfaction   1.009019
1               OverTime_Yes   1.008058
8             JobInvolvement   1.005936
5      TrainingTimesLastYear   1.005830
4          PercentSalaryHike   1.004683
3                MonthlyRate   1.003110